---
import { SITE } from "@/lib/config";
import ThemeController from "../bases/theme-controller.astro";
import MenuDropdown from "./menu-dropdown.astro";
---

<div class="navbar border-b border-white/20">
  <div class="navbar-start lg:w-1/2">
    <a href="/" class="flex items-center">
      <img
        src="https://files.fivemerr.com/images/ac6462c4-e383-4afb-97a2-e6be2e9c7294.png"
        alt="Logo"
        class="h-12 w-auto"
      />
    </a>
  </div>
  <div class="navbar-center flex">
    <a
      href="/"
      class="text-xl lg:text-2xl font-bold text-white hover:text-purple-300 transition-colors duration-200"
    >
      Krypton Game
    </a>
  </div>
  <div class="navbar-end flex items-center gap-2">
    <div class="lg:hidden">
      <MenuDropdown />
    </div>
    <ThemeController />
  </div>
</div>
